.canvas {
	display: block;
	margin: 0 auto;
	opacity: .9;
}

body {
		background-image: url("image/stardust_@2X.png");
		/*background-color: #1A232D;*/
		margin: 0;
}

h1 {
	margin: 0;
	display: block;
	color: black;
	text-align: center;
  font-family: 'Pacifico', cursive;
	font-size: 24px;
	margin-top: 5px;
}

h2 {
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	font-family: 'Pacifico', cursive;
}



.back-shadow {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	background-color: white;
	opacity: .5;
}

.white-screen {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	background-color: white;
}

.modal {
	top: calc(50vh - 250px);
	left: calc(50vw - 250px);
	position: absolute;
	width: 500px;
	height: 500px;
	background-color: #FDFD96;
	display: none;
	border: 1px solid white;
	border-radius: 100%
}

.modal-display {
	display: flex;
	justify-content: center;
}

.control-list {
	list-style: none;
	margin: 0;
	padding:0;
	font-family: helvetica, sans-serif;
	text-align: center;
}

.title-text {
	position: absolute;
	cursor: default;
	top: 45px;
	font-size: 37px;
	font-family: 'Pacifico', cursive;
}

.info {
	position: absolute;
	width: 200px;
	top: 105px;
	/*left: 150px;*/
	font-family: helvetica, sans-serif;
}

.body-control {
	position: absolute;
	top: 250px;
	/*left: 175px;*/
	font-family: helvetica, sans-serif;
	font-weight: 700;
}

.list-info {
	font-family: helvetica, sans-serif;
}

.controls-info {
	position: absolute;
	font-family: 'Pacifico', cursive;
	top: 280px;
	/*left: 220px;*/
}

.control-list {
	position: absolute;
	top: 330px;
	/*left: 210px;;*/
}

.side-bar-content {
	position: relative;
	font-family: helvetica, sans-serif;
}

.menu-toggle {
	cursor: pointer;
	position: absolute;
	top: 15px;
	left: 0;
	width: 30px;
	height: 30px;	
	z-index: 150;
	display: block;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FDFD96;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.sidebar {
	position: absolute;
	padding-left: 10px;
	padding-top: 10px;
	top: 0;
	left: 60px;
	width: 240px;
	height: 100%;
	background-image: url("image/stardust_@2X.png");
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}
	
.side-bar-content.open {
	right: 10px;
	transition: right .5s ease;
}

.side-bar-content {
	position: fixed;
	right: -240px;
	width: 300px;
	height: 100%;
	top: 0;
	z-index: 500;
	text-align: center;
	color: white;
	transition: right .5s ease;
}

.sidebar-list {
	list-style: none;	
	margin: 0;
	padding: 0;
}

.list-item>.info-container {
	text-align: center;
	cursor: default;	
  opacity: 0; 
  height: 0;
  overflow: hidden;
}

.list-item>.info-container.displayed {
	text-align: center;
	cursor: default;	
	opacity: 1;
  height: auto;
  transition: opacity 1s ease-in;
  transition: opacity 1s ease-out;
}

.list-info {
	padding: 3%;
	margin: 1%;
	font-size: 15px;
}


.list-item {
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 15px;
	cursor: pointer;
}

.link {
	color: #FDFD96;
	text-decoration: none;
}

.site-links {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-around;
}

.instruction-box {
	position: absolute;
	right: 90px;
	top: -50px;
	width: 90px;
	border: 1px solid #FDFD96;
	background-color: #FDFD96;
	text-align: center;
	border-radius: 5%;
	z-index: 150;	
	font-family: helvetica, sans-serif;
	padding: 5px;	
}

.instruction-box.displayed {
	top: 12px;
	transition: top 0.5s ease-in-out;
}

.instruction-box:after{
content: "";
  position: absolute;
  top: 0px;
  border: 0 solid #FDFD96;
  border-width: 10px 20px;
  width: 0;
  height: 0;
}

.instruction-box:after {
	top: 11px;
  right: -40px;
  border-color: transparent;
  border-left-color: #FDFD96;
}

.main-secreen {
	position: relative;
}